<div class="w-full flex flex-col">
  <div class="mb-4 p-4 flex items-center">
    <label for="campoSelect" class="block text-gray-700 text-sm font-bold mb-2 mr-2">Seleccionar Campo:</label>
    <select id="campoSelect" #campoSelect (change)="onCampoSelected(campoSelect.value)"
      class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option value="" selected>Seleccione un campo</option>
      <option *ngFor="let campo of campos" [value]="campo.id">
        {{ campo.nombre }}
      </option>
    </select>
    <label for="cultivoSelect" class="block text-gray-700 text-sm font-bold mb-2 ml-4">Seleccionar Cultivo:</label>
    <select id="cultivoSelect" [(ngModel)]="selectedCultivoId" (change)="onCultivoSelected(selectedCultivoId)"
      class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option value="" selected>Seleccione un cultivo</option>
      <option *ngFor="let cultivo of cultivos" [value]="cultivo.id">
        {{ cultivo.nombre }}
      </option>
    </select>
      <label for="tipoRendimiento" class="block text-gray-700 text-sm font-bold mb-2 ml-4">Tipo de rendimiento:</label>
        <select id="tipoRendimiento" [(ngModel)]="tipoRendimiento" (change)="aplicarFiltroRendimiento()"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option value="rendimiento_relativo">Rendimiento Relativo</option>
          <option value="rendimiento_real">Rendimiento Real</option>
          <option value="masa_rend_seco">Masa de Rendimiento Seco</option>
          <option value="rendimiento_normalizado">Rendimiento Normalizado</option>
        </select>

    <button (click)="onCargarCsv()" [disabled]="!selectedUuid"
      class="ml-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
      Cargar mapas de rendimiento
    </button>

     <button (click)="onCalcularRendimiento()" [disabled]="!selectedCultivoId"
     class="ml-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 focus:outline-none">
     Calcular rendimiento y descargar Excel
   </button>
   
  </div>

  <div class="relative flex-1">
    <div id="viewDiv" class="h-full w-full"></div>

    <div *ngIf="mapLoaded && mostrarReferencias" class="floating-table bg-white p-2 border rounded shadow-lg text-sm w-36">
      <h2 class="font-bold text-md mb-2">Referencias de Percentiles</h2>
      <table class="min-w-full border-collapse border border-gray-300 mt-1 text-xs text-center">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-300 px-1 py-1 w-18">Percentil Color</th>
            <th class="border border-gray-300 px-1 py-1 w-18">Valor Calculado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: red;">0-19%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p19 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: orange;">20-39%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p39 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: yellow;">40-59%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p59 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: lightgreen;">60-79%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p79 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: green;">80-100%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p100 | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="tooltip" class="absolute bg-white p-2 border rounded shadow" style="display: none;"></div>
  </div>
</div>
