<div class="w-full flex flex-col">
  <div class="mb-4 p-4 flex items-center">
    <label for="campoSelect" class="block text-gray-700 text-sm font-bold mb-2 mr-2">Seleccionar Campo:</label>
    <select id="campoSelect" #campoSelect (change)="onCampoSelected(campoSelect.value)"
      class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option value="" selected>Seleccione un campo</option>
      <option *ngFor="let campo of campos" [value]="campo.id">
        {{ campo.nombre }}
      </option>
    </select>
    <label for="cultivoSelect" class="block text-gray-700 text-sm font-bold mb-2 mr-2 ml-4">Seleccionar Unidad Manejo:</label>
    <select id="cultivoSelect" [(ngModel)]="selectedCultivoId" (change)="onCultivoSelected(selectedCultivoId)"
      class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option value="" selected>Seleccione Unidad Manejo</option>
      <option *ngFor="let cultivo of cultivos" [value]="cultivo.id">
        {{ cultivo.nombre }}
      </option>
    </select>
      <label for="tipoRendimiento" class="block text-gray-700 text-sm font-bold mb-2 mr-2 ml-4">Tipo de rendimiento:</label>
        <select id="tipoRendimiento" [(ngModel)]="tipoRendimiento" (change)="aplicarFiltroRendimiento()"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option value="masa_rend_seco">Masa de Rendimiento Seco (tn/há)</option>
          <option value="rendimiento_relativo">Rendimiento Relativo (% media)</option>
          <option value="rendimiento_real">Rendimiento Real (tn/há)</option>
          <option value="rendimiento_normalizado">Rendimiento Normalizado (tn/há)</option>
        </select>

    <button (click)="onCargarCsv()" [disabled]="!selectedUuid || isLoading"
      class="ml-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
      Cargar mapas de rendimiento
    </button>

     <button (click)="onCalcularRendimiento()" [disabled]="!selectedCultivoId || isLoading"
     class="ml-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 focus:outline-none">
     Calcular rendimiento y descargar Excel
   </button>
   
  </div>

  <div class="relative flex-1">
    <div id="viewDiv" class="h-full w-full"></div>

    <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-gray-100 bg-opacity-75 z-10">
      <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-green-500" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <span class="sr-only">Cargando Mapas...</span>
    </div>

    <div *ngIf="mapLoaded && mostrarReferencias" class="floating-table bg-white p-2 border rounded shadow-lg text-sm w-36">
      <h2 class="font-bold text-md mb-2">Referencias de Percentiles</h2>
      <table class="min-w-full border-collapse border border-gray-300 mt-1 text-xs text-center">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-300 px-1 py-1 w-18">Percentil Color</th>
            <th class="border border-gray-300 px-1 py-1 w-18">Valor Calculado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: red;">0-19%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p19 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: orange;">20-39%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p39 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: yellow;">40-59%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p59 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: lightgreen;">60-79%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p79 | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="border border-gray-300 px-1 py-1" style="background-color: green;">80-100%</td>
            <td class="border border-gray-300 px-1 py-1">{{ p100 | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="tooltip" class="absolute bg-white p-2 border rounded shadow" style="display: none;"></div>
  </div>
</div>
