<main class="ml-2 mr-2 w-full">
  <div class="flex justify-between mb-4">
    <h1 class="text-3xl font-bold">Lista de Usuarios</h1>
    <button data-modal-target="create-user-modal" data-modal-toggle="create-user-modal" type="button" 
            class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2">
      Invitar Usuario
    </button>
  </div>

  <div *ngIf="userList$ | async as userList; else loaderAndError">
    <div *ngIf="userList.length > 0; else emptyState" class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <app-user-card *ngFor="let user of userList" [user]="user"></app-user-card>
    </div>
  </div>

  <ng-template #loaderAndError>
    <section *ngIf="hasError; else loader">
      <p>Algo salió mal. Inténtelo de nuevo más tarde.</p>
    </section>
    <ng-template #loader>
      <div class="loader-wrapper">
        <div class="loader is-loading"></div>
      </div>
    </ng-template>
  </ng-template>

  <ng-template #emptyState>
    <div class="text-center py-10">
      <h2 class="text-3xl font-bold mb-4">No hay usuarios aún</h2>
      <p class="text-gray-600 mb-6">Invita a un usuario para comenzar.</p>
      <button data-modal-target="create-user-modal" data-modal-toggle="create-user-modal" type="button" 
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Invitar Usuario
      </button>
    </div>
  </ng-template>
</main>
<app-user-create-modal />
